
/* Google Font Class */
.baskerville{
    font-family: 'Baskervville', serif;
}
body{
    position: relative;
}
.dm-sans{
    font-family: 'DM Sans', sans-serif;
}
nav{
    z-index: 99;
    padding: 20px 0;
    overflow: hidden;
}
.navbar-light .navbar-nav .nav-link, .navbar-brand{
    color: #ffffff !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    padding: 8px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ECBB9C;
    border-radius: 50%;
    transition: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-brand{
    font-size: 40px;
    font-weight: 400;
}
.btn-style{
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    padding: 8px 10px;
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}
.appointment1, .appointment2{
    border: 1px solid rgba(255, 255, 255, 0.295743);
}
/* Header Design */
header{
    color: #ffffff;
    padding: 0 !important;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    overflow: hidden;
}
.dark-bg{
    background-color: #2B3A41;
}

.small-header{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    transition: .5s;
}
.small-header::before{
    width: 54px;
    border-top: 1px solid #FFFFFF;
    content: "";
    height: 6px;
    display: inline-block;
    margin-right: 26px;
}
.main-header{
    font-size: 72px;
}
header .btn{
    border-radius: 0;
    margin: 46px 0;
    padding: 14px 39px 13px 37px;
    font-weight: 700;
}
.light-red{
    background-color: #ECBB9C;
    color: #ffffff;
}
.right-part{
    background-image: linear-gradient(90deg, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%), url('../images/Banner.png');
    background-size: 100% 100%;
}
.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.play-icon-style{
    font-size: 20px;
    height: 60px;
    width: 60px;
    color: #000000;
    background: #ffffff;
    padding: 14px 0 0 23px;
    border-radius: 50%;
    transition: background .5s;
}
.play-icon-style:hover, .appointment1:hover,.appointment2:hover{
    background: #ECBB9C;
    color: rgb(41, 22, 22);
    cursor: pointer;
}

.about-content{
    background-color: #ffffff;
}
.about-body,.chef-sec-body{
    height: 100%;
}
.flex-box-c{
    display: flex;
    align-items: center;
}
.dark-before .small-header::before{
    border-color: #333333;
}
.body-text{
    color: #333333;
    opacity: .49;
}
.about .body-text, .chef-sec-body .body-text{
    padding: 15px 0 35px 0;
}
.about-body .btn-style{
    background: #567482;
    padding: 8px 25px;
}
.about-body .btn-style:hover{
    background: #033030;
    color: #ffffff;
}
.btn-style{
    padding: 8px 25px;
}
.appointment-contact{
    background: url("../images/reserve.png") ;
    background-size: cover;
    height: 100%;
}

.white-bg{
    background: #ffffff;
    padding: 40px 0 37px 56px;
}
.small-title{
    font-size: 24px;
    font-weight: 700;
}
.contact-number{
    padding-bottom: 50px;
}
.time-header{
    font-size: 14px;
    color: #333333;
    opacity: .49;
    padding-bottom: 5px;
}
.images-wrapper-class{
    position: relative;
}
.image-class img{
    width: 100%;
}
.custom-icon {
    position: absolute;
    border-radius: 50%;
    bottom: -7%;
        right: 9%;
    height: 90px;
    width: 90px;
    justify-content: center;
}

.dining-experience .body-text{
    padding-right: 50px;
}
.nav-pills .nav-link{
    text-align: left;
} 
.nav-pills .nav-link{
    font-size: 24px;
    font-weight: 700;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #333333;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #2B3A41;
    border-radius: 0;
}
.price{
    font-size: 40px;
}
.price.flex-box-c{
    justify-content: center;
    height: 100%;
}
.show-on-small .dropdown{
    width: 100%;
    border: 1px solid #DADADA;
    margin-bottom: 25px;
}
.show-on-small .dropdown-toggle::after{
    position: absolute;
    right: 3%;
    top: 40%;
    border-top: .3em solid #333333 !important;
}
.show-on-small .dropdown-toggle{
    margin: 0 !important;
    padding: 5px 15px;
}
.dining-menu .btn-style{
    color: #567482;
    border: 1px solid rgba(86, 116, 130, 0.501019);
    cursor: pointer;
    padding: 8px 25px;
    margin: 30px auto;
}
.dining-menu .btn-style:hover{
    color: #020202;
    border: 1px solid rgba(86, 116, 130, 1);
    background: rgb(155, 150, 150);
}
.order-now-image{
    background: url("../images/food-order.png") ;
    background-size: cover;
    height: 100%;
}


.single-item {
    padding: 15px;
}
.owl-theme .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
    margin:5px 7px;
    background:#D9D9D9;
    display:block;
    border-radius: 0;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #567482;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #567482;
    width: 16px;
    height: 16px;
}
.owl-theme .owl-dots .owl-dot {
    outline: none;
}


@media only screen and (max-width: 575px) {
    .custom-icon {
        
    }
}

@media only screen and (max-width: 991px) {
    .container-fluid{
        padding: 0 20px;
    }
    .appointment2{
        display: none;
    }
    .height-expand{
        padding-top: 240px;
        transition: .5s;
    }
    .main-header {
        font-size: 72px;
        line-height: 60px;
    }
    .left-part{
        padding-top: 80px;
    }
    .right-part{
        min-height: 400px;
    }
    .about{
        margin-top: 740px;
    }
    .about-content{
        margin-top: 400px;
        padding-top: 100px;
    }
    .section-header{
        font-size: 40px;
        line-height: 48px;
    }
    .about-body .container-fluid, .chef-sec-body .container-fluid{
        padding-left: 0;
    }
    .about-body .small-header, .our-chef .small-header{
        padding-top: 30px;
    }
    .body-text{
        font-size: 15px;
    }
    #no-padding-small{
        padding: 0;
    }
    .appointment-body{
        min-height: 300px;
    }
    .appointment-contact{
        min-height: 340px;
    }
    .appointment-contact .container-fluid{
        padding: 0 20px;
    }
    .feature-title {
        padding: 20px 0 20px 0;
    }
    .margin-top-small{
        margin-top: 15px;
    }
    .margin-bottom-small{
        margin-bottom: 45px;
    }
    .hide-on-small{
        display: none;
    }
    .show-on-small{
        display: block;
    }
    .show-on-small .nav-pills .nav-link.active,.show-on-small .nav-pills .show>.nav-link{
        background: transparent;
        border-radius: 0;
        color: #333333;
        font-weight: normal;
    }
    .show-on-small .nav-pills .nav-link{
        font-weight: normal;
        font-size: 16px;
        color: #333333;
        opacity: .49;
    }
    .order-now-image{
        min-height: 250px;
    }

}
@media only screen and (min-width: 992px) {
    .container-fluid{
        padding: 0 100px;
    }
    .navbar-nav .nav-item{
        padding: 0 20px;
        font-size: 20px;
    }
    .appointment1{
        display: none;
    }
    header{
        height: 700px;
    }
    .small-header{
        padding-top: 50px;
    }
    .main-header {
        font-size: 102px;
        line-height: 80px;
    }
    .left-part{
        padding-top: 100px;
    }
    .right-part{
        position: absolute;
        right: 0;
        height: 100%;
    }
    .about-content{
        margin-top: 560px;
        padding-top: 150px;
    }
    .section-header{
        font-size: 56px;
        line-height: 64px;
    }
    .about-body .container-fluid{
        padding-right: 40px;
    }
    .appointment-body{
        min-height: 350px;
    }
    .appointment-sec .small-header,.food-order .small-header{
        padding-top: 0;
    }
    .feature-title {
        padding: 40px 0 20px 0;
    }
    .show-on-small{
        display: none;
    }
    .margin-bottom-small{
        margin-bottom: 35px;
    }
    .our-chef{
        padding: 200px 0;
    }
}